@{
    ViewData["Title"] = "Login";
}
@model Job_Recruitment_System.Models.LoginViewModel
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card shadow-lg p-4" style="width: 380px; border-radius: 20px;">
        <h3 class=" text-center"> Login</h3>

        <form asp-action="Login"   asp-controller="Account" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email Address</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

            <div class="text-center mt-3">
                <small>Don’t have an account? <a asp-action="ChooseRole" class="text-decoration-none">Register here</a></small>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
